@using PetTinder.Models;
@model Pet;


<h2>Create a new profile</h2>

@using (Html.BeginForm())
{
    <label for="Name">Name:</label>
    @Html.TextBoxFor(model => model.Name)
    <br>

    <label for="Age">Age:</label>
    @Html.TextBoxFor(model => model.Age)
    <br>

    <label for="Gender">Gender:</label>
    @Html.TextBoxFor(m => m.Gender)
    <br>
    
    <label for="Species">Species:</label>
    @Html.TextBoxFor(model => model.Species)
    <br>

    <label for="Breed">Breed:</label>
    @Html.TextBoxFor(model => model.Breed)
    <br>

    <label for="Bio">Bio:</label>
    @Html.TextBoxFor(model => model.Bio)
    <br>
    <label for="LookingFor">Looking For:</label>
    @Html.TextBoxFor(model => model.LookingFor)
    <br>


    <label for="file">Upload Image:</label>  
    <input type="file" name="Photo1" id="Photo1"/><br><br>  

    
    <input type="submit" value="Upload Image"/>  
    <br><br> 

    <input type="submit" value="Add Profile" class="btn btn-primary" />
}