@model PetTinder.Models.Pet

<h1>Create A Pet</h1>

@using(Html.BeginForm())
{
    @Html.Label("Name", "Name:")
    @Html.TextBoxFor(model => model.Name)

    @Html.Label("Age", "Age:")
    @Html.TextBoxFor(model => model.Age)

    @Html.Label("Gender", "Gender:")
    @Html.TextBoxFor(model => model.Gender)

    @Html.Label("Species", "Species:")
    @Html.TextBoxFor(model => model.Species)

    @Html.Label("Breed", "Breed:")
    @Html.TextBoxFor(model => model.Breed)

    @Html.Label("Bio", "Tell us more about yourself (ie. your favorite things, least favorite things, etc.)")
    @Html.TextAreaFor(model => model.Bio)

    @Html.Label("LookingFor", "Looking For (ie. a playmate, a cuddle buddy, etc)")
    @Html.TextBoxFor(model => model.LookingFor)
    <br>
    <input type="submit" value="Add Pet" class="btn btn-default" />
}