
@model PetTinder.Models.Pet

<h1>Details page</h1>

<h2>@Model.Name</h2>
<h4>Age: @Model.Age</h4>
<h4>Gender: @Model.Gender</h4>
<h4>Bio: @Model.Bio</h4>
<h4>Species: @Model.Species</h4>
<h4>Breed: @Model.Breed</h4>
<h4>Looking For: @Model.LookingFor</h4>

@Html.ActionLink("Edit Profile", "Edit")