@using PetTinder.Models;
@model PetTinder.Models.Pet;
@{
    ViewData["Title"] = "Edit ";
}
<h3>Edit Profile</h3>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.HiddenFor(model => model.PetId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.Age)
    @Html.TextBoxFor(model => model.Age, new { @class="form-control"})
   <br>
    @Html.LabelFor(model => model.Gender)
    @Html.TextBoxFor(model => model.Gender, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.Species)
    @Html.TextBoxFor(model => model.Species, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.Breed)
    @Html.TextBoxFor(model => model.Breed, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.Bio)
    @Html.TextBoxFor(model => model.Bio, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.LookingFor)
    @Html.TextBoxFor(model => model.LookingFor, new { @class="form-control"})
    <br>
   
   @if(String.IsNullOrEmpty(@Model.Photo1))
   {
   
    <label for="file">Upload Image:</label>  
    <input type="file" name="Photo1" id="Photo1"/><br><br>  
       
   } 
 
    <br><br>  
   @if(String.IsNullOrEmpty(@Model.Photo2))
   {
    <label for="file">Upload Image:</label>  
    <input type="file" name="Photo2" id="Photo2"/><br><br>  
   }
    <br><br> 

   @if(String.IsNullOrEmpty(@Model.Photo3))
   {
    <label for="file">Upload Image:</label>  
    <input type="file" name="Photo3" id="Photo3"/><br><br>  
   }
    <br><br> 

   @if(String.IsNullOrEmpty(@Model.Photo4))
   {
    <label for="file">Upload Image:</label>  
    <input type="file" name="Photo4" id="Photo4"/><br><br>  
   }
    @*<input type="submit" value="Upload Images"/>  *@
    <br><br> 


    <input type="submit" class = "btn btn-primary" value="Save Changes" />
}
<p>@Html.ActionLink("Go back", "Index", new { @class = "btn btn-primary" })</p>