@using PetTinder.Models;
@model PetTinder.Models.Pet;
@{
    ViewData["Title"] = "Edit ";
}
<h3>Edit Profile</h3>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.HiddenFor(model => model.PetId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.Age)
    @Html.TextBoxFor(model => model.Age, new { @class="form-control"})
   <br>
    @Html.LabelFor(model => model.Gender)
    @Html.TextBoxFor(model => model.Gender, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.Species)
    @Html.TextBoxFor(model => model.Species, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.Breed)
    @Html.TextBoxFor(model => model.Breed, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.Bio)
    @Html.TextAreaFor(model => model.Bio, new { @class="form-control"})
    <br>
    @Html.LabelFor(model => model.LookingFor)
    @Html.TextBoxFor(model => model.LookingFor, new { @class="form-control"})
    <br>
   
   @if(String.IsNullOrEmpty(@Model.Photo1))
   {
    <label for="file1">Upload Image:</label>  
    <input type="file" asp-for="file1" name="file1" id="file1" class="btn btn-secondary"/><br><br>  
   } 
    <br><br>  

   @if(String.IsNullOrEmpty(@Model.Photo2))
   {
    <label for="file2">Upload Image:</label>  
    <input type="file" asp-for="file2" name="file2" id="file2" class="btn btn-secondary"/><br><br>  
   }
    <br><br> 

   @if(String.IsNullOrEmpty(@Model.Photo3))
   {
    <label for="file3">Upload Image:</label>  
    <input type="file" asp-for="file3" name="file3" id="file3" class="btn btn-secondary"/><br><br>  
   }
    <br><br> 

   @if(String.IsNullOrEmpty(@Model.Photo4))
   {
    <label for="file4">Upload Image:</label>  
    <input type="file" asp-for="file4" name="file4" id="file4" class="btn btn-secondary"/><br><br>  
   }
    <br><br> 

    <input type="submit" class = "btn btn-primary" value="Save Changes" />
}
<br>
<a href='@Url.Action("Index", "Home")'><i class="fas fa-backward fa-lg"></i></a>